body{

    background-image: url(./assets/background2.png);
    background: linear-gradient (90deg, rgba(70,207,212,1) 0%, rgba(72,95,255,1) 100%);
    background-position-x: 50%;
    background-position-y: 50%;
    padding:0px;
    margin: 0px;
    border: 0px;
}

svg{
    position: absolute;
}

.pic{
    display :inline;
    position: absolute;
    border-radius: 50%;
    border-style: solid;
    border-color: CornflowerBlue;
    border-width: 2px;
    z-index: 0;
}

li{
    margin-left: 120px;
    color: rgb(124, 124, 124);
}

.esconder{
    visibility: hidden;
    height:202px;
    width: 350px;
    background-color: rgba(25, 25, 44, 0.90);
    display:inline-block;
    margin-left: 100px;
    z-index: 2;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

#m1:hover + .esconder{
    visibility: visible;
}

#m2:hover + .esconder{
    visibility: visible;
}

#m3:hover + .esconder{
    visibility: visible;
}

#m4:hover + .esconder{
    visibility: visible;
}

#m5:hover + .esconder{
    visibility: visible;
}

#m6:hover + .esconder{
    visibility: visible;
}

#m7:hover + .esconder{
    visibility: visible;
}

#m8:hover + .esconder{
    visibility: visible;
}

#m9:hover + .esconder{
    visibility: visible;
}

#m10:hover + .esconder{
    visibility: visible;
}

#m11:hover + .esconder{
    visibility: visible;
}

#m12:hover + .esconder{
    visibility: visible;
}

#container .pic:hover{
    height: 200px;
    width: 200px;  
    transition: 0.3s;  
    z-index:4;
}

.divimg{
    position:absolute;
    height:200px;
    width: 500px;
    z-index:1;
}

.logo{
    height: 500px;
    width: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -250px 0 0 -250px;
    z-index: 0;
}

#divm1{
    left: 25%;
    top: 30%;
    margin: -50px 0 0 -50px;
    z-index: 2;

}

#m1{
    position: absolute;
    height: 100px;
    width: 100px;
}

#divm2{
    left: 10%;
    top: 15%;
    margin: -70px 0 0 -70px;
}

#m2{
    position: absolute;
    height: 135px;
    width: 135px;
}

#divm3{
    left: 35%;
    top: 15%;
    margin: -55px 0 0 -55px;
}

#m3{
    position: absolute;
    height: 110px;
    width: 110px;
}

#divm4{
    left: 10%;
    top: 75%;
    margin: -65px 0 0 -65px;
}

#m4{
    
    height: 130px;
    width: 130px;
}

#divm5{
    left: 15%;
    top: 45%;
    margin: -50px 0 0 -50px;
}

#m5{
    position: absolute;
    height: 120px;
    width: 120px;
}

#divm6{
    left: 66%;
    top: 10%;
    margin: -45px 0 0 -45px;
}

#m6{
    position: absolute;
    height: 90px;
    width: 90px;
}

#divm7{
    left: 86%;
    top: 70%;
    margin: -70px 0 0 -70px;
    z-index: 3;
}

#m7{
    position: absolute;
    height: 140px;
    width: 140px;

}

#divm8{
    left: 80%;
    top: 36%;
    margin: -55px 0 0 -55px;
    z-index: 2;
}

#m8{
    position: absolute;
    height: 110px;
    width: 110px;
}

#divm9{
    left: 68%;
    top: 50%;
    margin: -55px 0 0 -55px;
    margin: -65px 0 0 -65px;
}

#m9{
    position: absolute;
    height: 130px;
    width: 130px;
}

#divm10{
    left: 85%;
    top: 10%;
    margin: -60px 0 0 -60px;
}

#m10{
    position:absolute;
    height: 120px;
    width: 120px;
    
}

#divm11{
    left: 65%;
    top: 74%;
    margin: -50px 0 0 -50px;
}

#m11{
    position: absolute;
    height: 100px;
    width: 100px;
}

#divm12{
    left: 30%;
    top: 65%;
    margin: -70px 0 0 -70px;
}

#m12{
    position: absolute;
    height: 140px;
    width: 140px;
}
