body{

    background-image: url(./assets/background2.png);
    background: linear-gradient (90deg, rgba(70,207,212,1) 0%, rgba(72,95,255,1) 100%);
    background-position-x: 50%;
    background-position-y: 50%;
    padding:0px;
    margin: 0px;
    border: 0px;
}

.pic{
    position: absolute;
    border-radius: 50%;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.253);
}

.logo{
    height: 500px;
    width: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -250px 0 0 -250px;
    z-index: -1;
}

#m1{
    left: 25%;
    top: 30%;
    height: 100px;
    width: 100px;
}

#m2{
    left: 10%;
    top: 5%;
    height: 140px;
    width: 140px;
}

#m3{
    left: 35%;
    top: 2%;
    height: 110px;
    width: 110px;
}

#m4{
    left: 6%;
    top: 40%;
    height: 130px;
    width: 130px;
}

#m5{
    left: 15%;
    top: 70%;
    height: 100px;
    width: 100px;
}

#m6{
    left: 66%;
    top: 10%;
    height: 85px;
    width: 85px;
}

#m7{
    left: 86%;
    top: 76%;
    height: 140px;
    width: 140px;
}

#m8{
    left: 80%;
    top: 36%;
    height: 110px;
    width: 110px;
}

#m9{
    left: 68%;
    top: 65%;
    height: 135px;
    width: 135px;
}

#m10{
    left: 85%;
    top: 10%;
    height: 120px;
    width: 120px;
}

#m11{
    left: 55%;
    top: 80%;
    height: 100px;
    width: 100px;
}

#m12{
    left: 30%;
    top: 74%;
    height: 140px;
    width: 140px;
}