body{

    background-image: url(./assets/background2.png);
    background: linear-gradient (90deg, rgba(70,207,212,1) 0%, rgba(72,95,255,1) 100%);
    background-position-x: 50%;
    background-position-y: 50%;
    padding:0px;
    margin: 0px;
    border: 0px;
}

svg{
    position: absolute;
}

.pic{
    position: absolute;
    border-radius: 50%;
    border-style: solid;
    border-color: CornflowerBlue;
    border-width: 2px;
    z-index:1;
}
#container .pic:hover{
    
    height: 200px;
    width: 200px;  
    transition: 0.3s;  
    z-index:2;
}

.hide{
    display:none;
}

.divimg:hover + .hide{
    position:relative;
    display: inline-block;
    background-color: red;
    height:200px;
    width:200px;
    left: 25%;
    top: 30%;

}
.logo{
    height: 500px;
    width: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -250px 0 0 -250px;
    z-index: 0;
}

#m1{
    left: 25%;
    top: 30%;
    height: 100px;
    width: 100px;
    margin: -50px 0 0 -50px;
}

#m2{
    left: 10%;
    top: 15%;
    height: 135px;
    width: 135px;
    margin: -70px 0 0 -70px;
}

#m3{
    left: 35%;
    top: 15%;
    height: 110px;
    width: 110px;
    margin: -55px 0 0 -55px;
}

#m4{
    left: 10%;
    top: 75%;
    height: 130px;
    width: 130px;
    margin: -65px 0 0 -65px;
}

#m5{
    left: 15%;
    top: 45%;
    height: 120px;
    width: 120px;
    margin: -50px 0 0 -50px;
}

#m6{
    left: 66%;
    top: 10%;
    height: 90px;
    width: 90px;
    margin: -45px 0 0 -45px;

}

#m7{
    left: 86%;
    top: 70%;
    height: 140px;
    width: 140px;
    margin: -70px 0 0 -70px;
}

#m8{
    left: 80%;
    top: 36%;
    height: 110px;
    width: 110px;
    margin: -55px 0 0 -55px;
}

#m9{
    left: 68%;
    top: 50%;
    height: 130px;
    width: 130px;
    margin: -65px 0 0 -65px;
}

#m10{
    left: 85%;
    top: 10%;
    height: 120px;
    width: 120px;
    margin: -60px 0 0 -60px;
}

#m11{
    left: 65%;
    top: 75%;
    height: 100px;
    width: 100px;
    margin: -50px 0 0 -50px;
}

#m12{
    left: 30%;
    top: 65%;
    height: 140px;
    width: 140px;
    margin: -70px 0 0 -70px;
}
